electre_mor/SAPEVO – M (Aula 1  UFF 19MAIO2020).pdf
j-electre_web/teste.json
sapevo_web/ELECTRE-MOr.25jan20.xlsx
sapevo_web/MCDA-ELECTRETri-valdeci.pdf
sapevo_web/SAPEVO – M (Aula 1  UFF 19MAIO2020).pdf
sapevo_web/WhatsApp Image 2020-05-18 at 06.32.13.jpeg
*__pycache__/

