{% extends "base.html" %}
{% block container %}

    <h1>Projeto {{projeto_nome}}</h1>
    <hr>
    <h2>Avaliar Alternativas</h2>

    <br>

    <form method="post">
        {% csrf_token %}

        <label for="id_decisor_id">Qual é o decisor?</label>
        <select name="decisor_id" id="id_decisor_id">
            {% for decisor in decisores %}
                <option value="{{decisor.0}}">{{decisor.1}}</option>
            {% endfor %}
        </select>    

        <br>
        <br>

        {% for criterio in criterios %}
            <h4>Critério - {{criterio.nome}} - ID => {{criterio.id}}</h4>
            
            <div id="alternativas">
                {% for alternativas in alternativas_combinadas %}
                    
                    <strong>{{alternativas.0}} VS {{alternativas.1}}</strong>
                    <br>
                    <input style="margin-left: 1em" type="range" min=-3 max=3 step=1
            name="{{criterio.id}}-->{{criterio.codigo}}{{alternativas.2}}{{alternativas.3}}" value=0 list="z">
            {% include 'partials/_datalist_range.html' %}
                    </input>
                    <br>
                {% endfor %}
            </div>  
        <hr>
        {% endfor %}
        
        <hr>

        <input type="submit" class="btn btn-outline-primary" value="Avaliar">
    </form>
    
{% endblock %}
