{% extends "base.html" %}
{% block container %}


      {% include 'partials/passo_a_passo.html' %}
<h1>Projeto {{projeto.nome}}</h1>
<hr>

<div class="d-flex justify-content-center">
    <form method="POST">
         {% csrf_token %}
        <h1> numéricos</h1>
        <table>
            <tbody>
                {% for form in forms %}
                <tr>
                   <td class="ml-8"></td>
                   <td class="ml-8"></td>
                   <td class="ml-8"></td>
                   <td class="ml-8">Valor</td>
                   <td class="ml-8"></td>
                </tr>
                <tr>
                   <td class="ml-8">{{ form.projeto }}</td>
                   <td class="ml-8">{{ form.decisor }}</td>
                   <td class="ml-8">{{ form.criterioA }}</td>
                   <td class="ml-8">{{ form.nota }}</td>
                   <td class="ml-8">{{ form.criterioB }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {{ forms.management_form }}

        <input type="submit" class="btn btn-outline-primary" value="Salvar valores">
    </form>
</div>

{% endblock %}
