{% extends "base.html" %}
{% block container %}

<h1>Projeto {{projeto_nome}}</h1>
<hr>
<h2>Avaliar Critérios</h2>

<br>

<form method="post">
  {% csrf_token %}
  {% for decisor in decisores %}
  <div class="decisor">
    <input type="hidden" name= "decisor_id" value={{decisor.id}}>
    <h1>{{decisor.nome}}</h1>


    {% for criterios in criterios_combinados %}
    <div id="criterio">
      <strong>{{criterios.0.nome}} VS {{criterios.1.nome}}</strong>
      <br>
      <input type="range" name="({{criterios.1.id}}, {{criterios.0.id}})" min=-2 max=2 step=1><br>
      
      {% endfor %}
      {% endfor %}
    </div>  
    <hr>
  </div>

  <input type="submit" class="btn btn-outline-primary" value="Avaliar">
</form>

{% endblock %}
