{% extends "base.html" %}
{% block container %}
<h1>Cadastrar Projeto</h1>

<br>

<form method="post">
    {% csrf_token %}
    <table>
            <tbody>
            <tr>
                <td class="ml-8">Nome do projeto</td>
                <td class="ml-8">{{ form.nome }}</td>
            </tr>
            <tr>
                <td class="ml-8">Quantidade de classes do problema</td>
                <td class="ml-8">{{ form.qtde_classes }}</td>
            </tr>
            <tr>
                <td class="ml-8">Descrição do projeto</td>
                <td class="ml-8">{{ form.descricao }}</td>
            </tr>
            <tr>
                <td class="ml-8">Lâmbda</td>
                <td class="ml-8">{{ form.lamb }}</td>
            </tr>
            </tbody>
        </table>
    <input type="submit" class="btn btn-outline-primary" value="Cadastrar">
</form>

{% if projetos %}

<hr>

<h2>Projetos:</h2>

<br>

<table class="table table-striped" style="width: 70%; margin:0 auto">
    <thead>
        <tr>
        <th scope="col">#</th>
        <th scope="col">Projetos</th>
        <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        {% for projeto in projetos %}
            <tr>
                <th scope="row">{{projeto.id}}</th>
                <td>{{projeto.nome}}</td>
                <td><a href="{% url 'projeto' projeto.id %}">Acessar</a></td>
        
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endif %}

{% endblock %}
