{% extends "base.html" %}
{% block container %}

<h1>Resultado do projeto "{{projeto.nome}}"</h1>

<hr>
<h3>Resultado detalhado</br>
</h3>

<div class="m-0 p-0 container">
  <h3>Avaliação dos Critérios</h3>
<div class="m-0 p-0 row justify-content-center">
{% autoescape off %}

{{ df_criterios }}
{% endautoescape %}
</div>
</div>

<div class="m-0 p-0 container">
  <h3>Avaliação das alternativas</h3>
<div class="m-0 p-0 row justify-content-center">
{% autoescape off %}

{{ df_alternativas }}
{% endautoescape %}

</div>
</div>


{% if pesos %}
<div class="m-0 p-0 container">
<h1>Pesos totais dos critérios</h1>
<div class="m-0 p-0 row justify-content-center">
{% autoescape off %}
{{ pesos }}
{% endautoescape %}
{% endif %}
</div>
</div>

{% if pontuacao_alternativas %}
<div class="m-0 p-0 container">
<h1>Pontuação alternativas</h1>
<div class="m-0 p-0 row justify-content-center">
{% autoescape off %}
{{ pontuacao_alternativas }}
{% endautoescape %}
</div>
</div>
{% endif %}

<a href="{% url 'download_file' %}" class="btn btn-warning btn-lg btn-block">Baixar Planilha</a>


{% endblock %}
